
@font-face {
    font-family: DMSansB;
    src: url("./../fonts/DMSans-Bold.ttf");
}
@font-face {
    font-family: intersemib ;
    src: url("./../fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family: InterExtraBold;
    src: url("./../fonts/Inter-ExtraBold.ttf");
}
@font-face {
    font-family: DMSsansregular;
    src: url("./../fonts/DMSans-Regular.ttf");
}
@font-face {
    font-family: InterBold;
    src: url("./../fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: DMSsansmedium;
    src: url("./../fonts/DMSans-Medium.ttf");
}
@font-face {
    font-family: Intermedium;
    src: url("./../fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: homefont;
    src: url("./../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: homefont5;
    src: url("./../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: buttonfont;
    src: url("./../fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family: mainfont2;
    src: url("./../fonts/Satoshi-Regular.otf");
}

@font-face {
    font-family: buttonfont2;
    src: url("./../fonts/Inter-SemiBold.ttf");
}


@font-face {
    font-family: popthin;
    src: url("./../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: buttonfont3;
    src: url("./../fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: homefontsub;
    src: url("./../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: mainfont;
    src: url("./../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}


@font-face {
    font-family: mainfontbold;
    src: url("./../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: homefontsub2;
    src: url("./../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: fontsub;
    src: url("./../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: homefontmain;
    src: url("./../fonts/Poppins-Thin.ttf");
}


/* @font-face {
    font-family: pregular ;
    src: url("./../fonts/poppinsregular.ttf");
}
@font-face {
    font-family: psemibold ;
    src: url("./../fonts/poppinssemibold.ttf");
}
@font-face {
    font-family: syneb;
    src: url("./../fonts/Syne-Bold.ttf");
}
@font-face {
    font-family: syneeb;
    src: url("./../fonts/Syne-ExtraBold.ttf");
}
@font-face {
    font-family: arvobold;
    src: url("./../fonts/Arvo-Bold.ttf");
}
@font-face {
    font-family: arvoregular;
    src: url("./../fonts/Arvo-Regular.ttf");
}
@font-face {
    font-family: berlinbold;
    src: url("./../fonts/Berlin Sans FB Bold.ttf");
}
@font-face {
    font-family: berlinregular;
    src: url("./../fonts/Berlin Sans FB Regular.ttf");
}
@font-face {
    font-family: sansbold;
    src: url("./../fonts/PT Sans Caption Bold.ttf");
}
@font-face {
    font-family: sansregular;
    src: url("./../fonts/PT Sans Caption Regular.ttf");
}


@font-face {
    font-family: font pack27;
    src:url("./../fonts/poppinsregular.ttf");
}



@font-face {
    font-family: titlefont;
    src:url("./../fonts/Roboto-Regular.ttf");
}




@font-face {
    font-family: titlefont;
    src:url("./../fonts/Titillium-Bold.otf");
}


@font-face {
    font-family: titlefont2;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}



@font-face {
    font-family: titlefont3;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}


@font-face {
    font-family: titlefont4;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: titlefont5;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}
@font-face {
    font-family: titlefont6;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: titlefont7;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}
@font-face {
    font-family: titlefont8;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: titlefont9;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: titlefont10;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: titlefont11;
    src:url("./../fonts/BAHNSCHRIFT.TTF");
}
@font-face {
    font-family: titlefont12;
    src:url("./../fonts/Titillium-Bold.otf");
}

@font-face {
    font-family: titlefont13;
    src:url("./../fonts/Titillium-Bold.otf");
} */
